body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

header{
  text-align: center;
}

nav a {
  background-color: grey;
  padding: 0 10px;
  text-align: center;
}

#featured-property figure, figcaption{
  font-size: smaller;
  text-align: center;
}

#featured-property p {
  padding-top: 15px;
  margin: 0 10%; 
}

#details {
  display: flex;
  justify-content: space-around;
  background-color: red;
  margin-top: 15px;
  
}
